---
import { CollectionEntry, getCollection } from "astro:content";
import Main from "@src/layouts/Main.astro";

export async function getStaticPaths() {
  const members = await getCollection("member");
  return members.map((member) => ({
    params: { slug: member.slug },
    props: member,
  }));
}
type Props = CollectionEntry<"member">;

const member = Astro.props;
let { image, title, description } = member.data;
description = description.replace(/(?:\r\n|\r|\n)/g, "<br>");
---

<Main {...member.data}>
  <section class="col wfull">
    <h1>{title}</h1>

    <p class="wfull">
      <img src={image} alt={title} />
      <Fragment set:html={description} />
    </p>
  </section>
</Main>

<style>
  section {
    max-width: var(--media-lg);
    gap: 3em;
    padding: 4em 1em;

    @media (max-width: 720px) {
      padding: 2em 1em;
    }
  }

  h1 {
    border-left: 4px solid var(--accent) !important;
    padding-left: 1rem;
  }

  img {
    width: 30%;
    min-width: 200px;
    border-radius: 1em;
    box-shadow: 0 5px 20px hsl(var(--base-500-hsl), 0.4);
    float: left;
    margin: 0 2em 2em 0;
  }
</style>
