/* 
          __             __                
    _____/ /_____ ______/ /________________
   / ___/ __/ __ `/ ___/ __/ ___/ ___/ ___/
  (__  ) /_/ /_/ / /  / /_/ /__(__  |__  ) 
 /____/\__/\__,_/_/   \__/\___/____/____/  v0.0.1 

*/

@custom-selector :--button button, a[role="button"];

/* 🎨 dynamic properties 🎨 */

:--button {
  --background-color: var(--accent);
  --color: var(--base);
  --border: 1px solid transparent;

  &:hover,
  &:focus {
    --background-color: var(--accent-700);
  }
}

:--button[disabled] {
  --background-color: var(--base-600);
  --color: var(--base-700);
}

:--button.unset {
  --background-color: unset;
  --color: unset;
  --border: unset;
}

/* ⚡ startcss reset ⚡ */

:--button {
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-xs);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: var(--border);
  border-radius: 0.75em;
  box-shadow: 0 2px 5px hsl(var(--base-500-hsl), 0.6);
  user-select: none;
  -webkit-user-drag: none;
  padding: var(--spacing-md) var(--spacing-4xl);
  transition: 150ms;
}

:--button[disabled] {
  cursor: not-allowed;
  background-color: var(--base-600);
  color: var(--base-700);
}

:--button.unset {
  background-color: var(--backgrond-color);
  backdrop-filter: unset;
  color: var(--color);
  border: var(--border);
  padding: unset;
}

:--button.error {
  background-color: hsl(var(--error-hsl), 0.2);
  color: var(--error);
  border: var(--border);

  &:hover {
    background-color: hsl(var(--error-hsl), 0.3);
  }

  @media (--dark) {
    background-color: hsl(var(--error-hsl), 0.1);

    &:hover {
      background-color: hsl(var(--error-hsl), 0.2);
    }
  }
}
