/* 
          __             __                
    _____/ /_____ ______/ /________________
   / ___/ __/ __ `/ ___/ __/ ___/ ___/ ___/
  (__  ) /_/ /_/ / /  / /_/ /__(__  |__  ) 
 /____/\__/\__,_/_/   \__/\___/____/____/  v0.0.1 

*/

@custom-selector :--input-ui
  [type="checkbox"],
  [type="radio"],
  [type="range"],
  progress;
@custom-selector :--input input, input, select, textarea;

/* 🎨 dynamic properties 🎨 */

:--input {
  --background-color: hsl(var(--base-hsl), 0.4);
  --border: 1px solid hsl(var(--base-900-hsl), 0.1);

  &:focus,
  &:active:not(:disabled) {
    --box-shadow: inset 0 -10px 0 -6px var(--accent);
  }

  &::placeholder {
    --color: var(--base-400);
  }

  &:disabled {
    --background-color: var(--base-200);
    --border-color: var(--base-300);
  }
}

:--input-ui {
  --accent-color: var(--alt);

  @media (--dark) {
    --accent-color: var(--accent);
  }
}

/* ⚡ startcss reset ⚡ */

:--input {
  background-color: var(--background-color);
  backdrop-filter: blur(5px);
  border: var(--border);
  border-radius: 0.3em;
  font-weight: normal;
  padding: var(--spacing-sm);
  transition: 150ms;

  &:focus,
  &:active:not(:disabled) {
    box-shadow: var(--box-shadow);
  }

  &::placeholder {
    color: var(--color);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--background-color);
    border-color: var(--border-color);
  }
}

:--input-ui {
  accent-color: var(--accent-color);
}
