---
import { getCollection } from "astro:content";
import HighlightCard from "@components/HighlightCard.astro";

const highlights = await getCollection("highlight");
---

<section class="col wfull">
  <h2 class="tcenter wfull"><b>Destacats</b></h2>

  <main class="row wrap astretch wfull">
    {highlights.map((highlight) => <HighlightCard highlight={highlight} />)}
  </main>
</section>

<style>
  section {
    max-width: var(--media-lg);
    gap: 2em;
    padding: 4em 1em;
  }

  main {
    gap: 1em;
  }
</style>
