---
import { getCollection } from "astro:content";
import NewCard from "@components/NewCard.astro";

const url = Astro.request.url;
const isPreview = !url.includes("noticies");
const maxPostsPreview = 6;

const posts = (await getCollection("post")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const limitedPosts = isPreview ? posts.slice(0, maxPostsPreview) : posts;
---

<section class="col acenter wfull">
  <h2 class="tcenter wfull">
    <b>{isPreview ? "Últimes notícies" : "Noticies"}</b>
  </h2>

  <main class="row wrap jcenter astretch wfull">
    {limitedPosts.map((post) => <NewCard post={post} />)}
  </main>

  {
    isPreview && (
      <a role="button" href="/noticies">
        Mes notícies
      </a>
    )
  }
</section>

<style>
  section {
    max-width: var(--media-lg);
    gap: 2em;
    padding: 4em 1em;

    @media (max-width: 720px) {
      padding: 2em 0.5em;
    }
  }

  main {
    gap: 1em;
  }

  a {
    margin-top: 2em;

    @media (max-width: 720px) {
      width: 70%;
      margin-top: 1em;
    }
  }
</style>
