---
import { getCollection } from "astro:content";
import NewCard from "@components/NewCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<section class="col wfull">
  <h2 class="tcenter wfull"><b>Destacats</b></h2>

  <main class="row wrap astretch wfull">
    {posts.map((post) => <NewCard post={post} />)}
  </main>
</section>
