---
import { getCollection } from "astro:content";
import NewCard from "@components/NewCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<section class="col acenter wfull">
  <h2 class="tcenter wfull"><b>Noticies</b></h2>

  <main class="wfull">
    {posts.map((post) => <NewCard post={post} />)}
  </main>

  <a role="button" href="/noticies">MES NOTICIES</a>
</section>

<style>
  section {
    max-width: var(--media-lg);
    gap: 2em;
    padding: 4em 1em;
  }

  main {
    column-count: 3;
    column-gap: 1em;

    @media (max-width: 640px) {
      column-count: 2;
    }
  }
</style>
