<section class="col acenter wfull">
  <a href="https://www.instagram.com/explore/tags/somsitges/">#somsitges</a>
  <img class="wfull contain" src="team.png" alt="Foto de equip" />
</section>

<style>
  section {
    gap: 4em;
    padding-top: 4em;
  }

  a {
    font-size: var(--font-xl);
    color: var(--accent);
  }

  img {
    height: 400px;
    padding: 0 2em;

    @media (max-width: 640px) {
      height: auto;
    }
  }
</style>
