<section class="col acenter wfull">
  <h3><b>#</b>SOMSITGES</h3>
  <h3><b>#</b>SOMOSSITGES</h3>
  <h3><b>#</b>WEARESITGES</h3>
</section>

<style>
  section {
    gap: 0.5em;
    padding: 4em;
  }

  h3 {
    background-color: var(--accent-100);
    font-family: var(--font-title) !important;
    font-size: var(--font-xl) !important;
    transform: skewY(-5deg);
    padding: 0.25em 0.5em;

    & b {
      color: var(--accent);
    }
  }
</style>
