<section class="col acenter wfull">
  <h2><b>#</b>SOMSITGES</h2>
  <h2><b>#</b>SOMOSSITGES</h2>
  <h2><b>#</b>WEARESITGES</h2>
</section>

<style>
  section {
    gap: 0.5em;
    padding: 4em;
  }

  h2 {
    background-color: var(--accent-100);
    font-family: var(--font-title) !important;
    font-size: var(--font-2xl) !important;
    transform: skewY(-5deg);
    padding: 0.25em 0.5em;

    & b {
      color: var(--accent);
    }
  }
</style>
