---
import Main from "@src/layouts/Main.astro";
---

<Main>
  <section class="col wfull">
    <h1>Estatuts</h1>
    <h3>Capítol primer: Denominació, finalitats, domicili.</h3>
    <p>
      <strong>Art. 1 - Denominació</strong>
      <br />
      Sota la protecció dels articles 6 de la Constitució Espanyola i 1 de la Llei
      Orgànica 6/2002, del 27 de juny, de Partits Polítics, es constitueix el partit
      polític anomenat SITGES GRUP INDEPENDENT, les sigles del qual són SITGES-GI
      sent el símbol identificatiu del partit en les seves diferents versions el
      següent:
    </p>
    <p>
      <strong>Art. 1.2 - Símbols</strong>
      <br />
      El Símbol del Partit està inspirat en la I de Independent, perquè el partit
      no depèn d'altres d'àmbit autonòmic i/o estatal, sinó que només es deu a la
      voluntat dels ciutadans de Sitges, i així deixar constància que som un partit
      municipalista, transversal, obert a totes les sensibilitats i que té a Sitges
      com a nexe comú. Al seu torn, juguem amb els colors de Sitges, el blau i el
      blanc. El símbol té una forma de cercle que ve a simbolitzar que tots cabem
      en un mateix espai. En la part superior figura el nom de SITGES i a la part
      inferior GRUP INDEPENDENT, que són les paraules que ens defineixen i identifiquen.
      <br />
      <br />
      <img src="/logo-blue.svg" alt="Sirtes GI logotip horitzontal" />
      <br />
      <br />
      Ús preferent El logotip horitzontal es compon del logotip preferent ja explicat
      en aquest punt i a més porta afegit un rectangle horitzontal amb els colors
      blau i blanc característics de Sitges amb el nom del partit i l'eslògan del
      mateix.
    </p>

    <p>
      <strong>Art. 2 - Ámbito y Fines</strong>
      <br />
      SITGES GRUP INDEPENDENT és un partit polític d'àmbit d'actuació municipal concretament
      de la localitat de Sitges, constituït per contribuir democràticament a la determinació
      de la política local i a la formació de la voluntat política dels ciutadans,
      així com promoure la seva participació en les institucions representatives
      de caràcter polític mitjançant la presentació i suport de candidats en les
      corresponents eleccions.
      <ol>
        <li>
          Presentació, com a persona jurídica interessada, per mitjà de qui
          acreditin ser els seus representants, per qualsevol mitjà vàlid en
          Dret, de tota mena d'escrits, peticions, al·legacions i recursos, ja
          siguin administratius o judicials, així com la realització de
          qualsevol tràmit o gestió legalment previst en procediments i
          expedients de totes les classes que es puguin seguir en qualsevol
          jurisdicció, ordre jurisdiccional o sector de qualsevol Administració
          Pública o entitat assimilable al marge del seu grau d'autonomia o
          persona jurídica privada, qualsevol que sigui la branca del Dret en
          què actuïn o la normativa especial que els fos aplicable o fins i tot
          encara que actuïn consuetudinàriament sobre la base d'usos i costums
          admessos per l'Ordenament Jurídic en vigor.
        </li>
        <li>
          Personació i actuació per intervenir oralment en tots els tràmits o
          gestions corresponents als procediments esmentats anteriorment.
        </li>
        <li>
          Elaboració de campanyes polítiques per la defensa i promoció dels fins
          del Partit.
        </li>
      </ol>
    </p>

    <p>
      <strong
        >Art. 3 - Domicili social i espai web amb direcció electrónica</strong
      >
      <br />
      El domicili social rau a Sitges, provincia de Barcelona, al carrer Santiago
      Rusiñol 29 1r 1a, amb codi postal 08870 de Sitges (Barcelona). El domicili
      pot ser modificat per acord del Comitè Executiu. Pel que fa al lloc web s'estableix
      el domini <a href="https://www.sitgesgi.cat/" rel="noreferrer"
        >www.sitgesgi.cat</a
      > i l'adreça electrònica <a
        href="mailto:info@sitgesgi.cat"
        rel="noreferrer">info@sitgesgi.cat</a
      >.
    </p>

    <h3>Capítol segon: Afiliats. Drets i deures.</h3>
    <p>
      <strong>Art. 4 - Afiliats</strong>
      <br />
      Podrán ser afiliados del SITGES GRUP INDEPENDENT las personas físicas, mayores
      de edad, y que no tengan limitada ni restringida su capacidad de obrar, así
      como los ciudadanos extranjeros cuando la normativa vigente lo permita.Poden
      ser afiliats del SITGES GRUP INDEPENDENT les persones físiques, majors d'edat,
      i que no tinguin limitada ni restringida la capacitat d'obrar, així com els
      ciutadans estrangers quan la normativa vigent ho permeti.
    </p>
    <p>
      <strong>Art. 5 - Admissió</strong>
      <br />
      La qualitat de membre del partit s'adquireix a sol·licitud de l'interessat
      a proposta de dos militants que estiguin al corrent de les obligacions amb
      el partit.
      <br /><br />
      Hi haurà al partit el Llibre de Registre d'Afiliats, on constaran les dades
      d'altes i baixes definitives.
      <br /><br />
      Per adquirir la condició d'afiliat/ada s'haurà d'emplenar la sol·licitud habilitada
      a aquest efecte a la pàgina web del Partit. El nom de la persona sol·licitant
      serà publicat al Llibre de Registre d'Afiliats, on consten les dades d'altes
      i baixes definitives. Durant els tres mesos següents a la data d'entrada d'aquesta
      sol·licitud al Comitè Executiu, la persona sol·licitant no podrà exercir els
      drets de sufragi actiu o passiu recollits en aquests Estatuts. Si, durant aquest
      termini de tres mesos, el Comitè Executiu no hi ha pres cap decisió en contra,
      la persona sol·licitant tindrà la condició d'afiliat/ada de ple dret. Les decisions
      sobre això que adopti el Comitè Executiu podran ser recorregudes davant de
      la Comissió de Garanties de l'afiliat.
    </p>
    <p>
      <strong>Art. 6 - Drets dels afiliats</strong>
      <br />
      <ol>
        <li>
          A participar en les activitats del partit i en els òrgans de govern i
          representació, a exercir el dret de vot, així com assistir a
          l'Assemblea General, d'acord amb els estatuts.
        </li>
        <li>A ser electors i elegibles per als càrrecs del mateix.</li>
        <li>
          A ser informats sobre la composició dels òrgans directius i
          d'administració o sobre les decisions adoptades pels òrgans directius,
          sobre les activitats realitzades i sobre la situació econòmica.
        </li>
        <li>
          A impugnar els acords dels òrgans del partit que considerin contraris
          a la Llei o als estatuts.
        </li>
        <li>
          A acudir a la Comissió de Garanties amb l'objecte de fer valer els
          seus drets com a afiliat.
        </li>
      </ol>
    </p>

    <p>
      <strong>Art. 7 - Obligacions dels afiliats</strong>
      <ol>
        <li>
          Compartir les finalitats del partit i col·laborar per a la consecució
          de les mateixes.
        </li>
        <li>Respectar el que disposen els estatuts i les lleis.</li>
        <li>
          Acceptar i complir els acords vàlidament adoptats pels òrgans
          directius del partit.
        </li>
        <li>
          Abonar les quotes i altres aportacions que, d'acord amb els estatuts,
          puguin correspondre a cada un.
        </li>
        <li>
          Guardar discreció en les matèries reservades que només seran revelades
          per a les funcions del Partit o si un jutge les requereix.
        </li>
        <li>Mantenir una conducta ètica en l'acció política.</li>
        <li>
          Els afiliats que ocupin càrrecs de representació o elegits en el
          partit, hauran d'assistir a les reunions a què siguin convocats per
          raó del càrrec.
        </li>
        <li>
          Els afiliats que ocupin càrrecs de responsabilitat pública i de
          confiança política, en especial els càrrecs elegits amb dedicació
          exclusiva, hauran de tenir dedicació en les tasques del partit en tots
          els àmbits, i seran coordinats pel Comitè executiu.
        </li>
      </ol>
    </p>

    <p>
      <strong>Art. 8 - Obligacions dels Simpatitzants</strong>
      <ol>
        <li>
          El simpatitzant de SITGES-GI és una persona que no volent
          comprometre's, en principi, com a afiliat, és afí al projecte del
          Partit.
        </li>
        <li>
          Seran considerats simpatitzants aquells que ho sol·licitin de manera
          formal o que hagin desenvolupat alguna activitat vinculada directament
          amb el Partit, com a interventors, així com aquelles persones que
          acceptin formar part de les candidatures com a independents.
        </li>
        <li>
          La persona simpatitzant ha de respectar els principis bàsics i els
          acords vàlidament adoptats pels òrgans de SITGES-GI.
        </li>
        <li>
          El simpatitzant podrà inscriure's en qualsevol equip de treball.
        </li>
      </ol>
    </p>

    <p>
      <strong>Art. 8.2 - Drets dels Simpatitzants</strong>
      <ol>
        <li>
          Participar en tots els actes i activitats oberts a la militància
          organitzats pel Partit.
        </li>
        <li>
          Assistir i participar, amb veu i sense vot, a les assemblees generals
          en les quals siguin convidats.
        </li>
        <li>
          Rebre informació puntual de les activitats i temes d'actualitat
          política i d'interès per a SITGES-GI.
        </li>
      </ol>
    </p>

    <p>
      <strong>Art. 09 - Règim disciplinari</strong>
      <br />
      Els afiliats estaran subjectes a responsabilitat disciplinària i només podran
      ser sancionats en els supòsits i dacord amb els principis que sestableixen
      en aquests Estatuts.
      <br /><br />
      L'afiliat que incomplisca amb els seus deures envers el partit o que amb la
      seua conducta pública o privada menyscabi o atempti contra els principis del
      partit, serà objecte del corresponent expedient disciplinari del qual se li
      donarà audiència, d'acord amb el procediment següent:

      <ol>
        <li>
          Es comunicarà a l'afiliat l'obertura de l'expedient sancionador i el
          motiu mitjançant burofax, atorgant-li un termini màxim de 20 dies
          naturals per aportar proves en la seva defensa. Transcorregut aquest
          termini es reunirà la Comissió de Garanties per dictaminar en un
          termini no superior a 15 dies naturals, la resolució de l'expedient
          sancionador que serà comunicat a l'afiliat mitjançant burofax. Si la
          resolució és sancionadora, s'establirà un termini màxim de 30 dies
          naturals per a la interposició de recurs a la resolució per part de
          l'afiliat sancionat. Finalitzat aquest termini, es reunirà el Comitè
          Executiu per revisar el recurs interposat per l'afiliat i resoldre
          definitivament l'expedient sancionador en un termini no superior a 15
          dies naturals. Els terminis establerts en aquest apartat computaran a
          partir del dia següent a la data de la recepció de la notificació.
        </li>
        <li>
          Durant la tramitació de l'expedient disciplinari, podran ser adoptades
          mesures cautelars sobre l'afiliat expedientat, sempre que els fets
          objecte d'expedient disciplinari siguin susceptibles de ser sancionats
          amb suspensió d'afiliació o expulsió, i que existeixin indicis
          raonables suficients de la participació de l'afiliat expedientat en
          els fets instruïts. Aquestes mesures cautelars no podran superar els
          dos mesos. La seva adopció serà recorrible en el termini de 5 dies
          hàbils davant l'organisme al qual els correspongui la resolució dels
          recursos contra l'acord sancionador. No obstant això, la interposició
          del recurs no tindrà efectes suspensius.
        </li>
        <li>
          Les sancions disciplinàries seran anotades en el Registre de Sancions,
          amb expressió dels fets imputats. Aquestes anotacions seran
          cancel·lades pel transcurs del termini d'extinció de la sanció.
        </li>
        <li>
          El procediment disciplinari que s'estableix en aquests Estatuts haurà
          de garantir a l'afiliat expedientat els següents drets:

          <ul>
            <li>A la presumpció d'innocència</li>
            <li>
              A ser notificat, si escau, del nomenament d'instructor, així com
              del seu dret a recusar-lo.
            </li>
            <li>
              A ser informat dels fets imputats, de la infracció que
              constitueixen, i de les sancions que, si és el cas, es poden
              imposar, així com de la resolució sancionadora.
            </li>
            <li>
              A un procediment contradictori, on pugui efectuar al·legacions amb
              caràcter previ a l'adopció de les sancions.
            </li>
            <li>
              A proposar totes les proves que siguin adequades per a la
              determinació dels fets.
            </li>
            <li>A poder actuar en el procediment assistit de lletrat.</li>
            <li>
              A que l'acord per la qual se li imposi la sanció sigui motivat.
            </li>
          </ul>
        </li>
      </ol>

      Las infracciones serán calificadas de muy graves, graves y leves. Serán
      tipificadas como infracciones muy graves, graves y leves.

      <strong>Seran faltes molt greus les següents</strong>
      <ol>
        <li>
          El incompliment dels deures i les obligacions que imposen els
          Estatuts, els reglaments i les resolucions dels òrgans del Partit quan
          l'incompliment causi un greu perjudici al Partit.
        </li>
        <li>
          La negació pública i explícita dels principis i finalitats del Partit.
        </li>
        <li>
          Les manifestacions públiques que causin un greu perjudici al partit, a
          la seva política o als seus militants.
        </li>
        <li>
          La retenció de documentació que impedeixi l'execució dels acords
          presos pels Òrgans del Partit, del nivell que siguin, o que impedeixi
          o dificulti l'exercici de les accions que entaulin les persones
          afiliades en defensa dels seus drets o interès del Partit.
        </li>
        <li>
          La reincidència en dues o més faltes greus dins del mateix any.
          Aquestes donaran lloc a les següents sancions;
        </li>
        <li>Suspensió temporal del càrrec d'elecció que ostenti.</li>
        <li>
          Cessament del càrrec d'elecció que ostenti per un període d'un a
          quatre anys.
        </li>
        <li>Suspensió temporal, parcial o total dels drets de militància.</li>
        <li>
          Expulsió del Partit, que comporta la inhabilitació per poder-se
          presentar com a candidat a càrrec electe durant un cicle electoral.
        </li>
      </ol>

      <strong>Seran faltes lleus les següents</strong>
      <ol>
        <li>Faltar al respecte degut als companys.</li>
        <li>
          La pertorbació de lordre a les reunions dels òrgans del partit, amb
          incompliment dels acords que adopti la persona o col·lectiu que la
          presideixi.
        </li>
      </ol>

      Les faltes a què es refereix aquest article poden donar lloc a la
      imposició de les sancions següents:
      <ol>
        <li>
          Advertiment o amonestació, verbal o per escrit, comunicant-ho a
          l'interessat.
        </li>
        <li>
          Expulsió de la reunió de l?òrgan del partit en què s?ha produït la
          falta.
        </li>
      </ol>

      L'expulsió del Partit comportarà en tot cas, la pèrdua dels càrrecs
      públics dependents del Partit que ostenta el sancionat.
      <br /><br />
      En qualsevol cas, els afiliats sotmesos a un procés penal respecte del qual
      s'hagi dictat interlocutòria d'obertura de judici oral o per delicte relacionat
      amb la corrupció seran suspesos de militància automàticament.
      <br /><br />
      Així mateix, els afiliats que hagin estat condemnats per un delicte relacionat
      amb la corrupció seran expulsats de forma automàtica.
    </p>

    <h3>Capítol tercer: òrgans de representació, govern i administració.</h3>
    <p>
      <strong>Art. 10 - Òrgans del partit</strong>
      <br />
      L'estructura interna i el funcionament del partit es basa en principis democràtics.
      Són òrgans del partit L'Assemblea General, el Comitè Executiu i la Comissió
      de Garanties.
    </p>

    <p>
      <strong>Art. 11.1 - L'Assemblea General</strong>
      <br />
      L'Assemblea General és constituïda pel conjunt dels seus membres, que podran
      actuar directament o per mitjà de compromissaris (s'admeten un màxim de 3 delegacions
      per cada compromissari).
      <ul>
        <li>
          Es convocarà a tots els militants per correu ordinari, electrònic o
          per publicació d'un anunci en el diari local.
        </li>
        <li>
          L'Assemblea General serà convocada pel President del Partit com a
          representant del Comitè Executiu.
        </li>
        <li>
          Es convocarà l'Assemblea General com a mínim amb 15 dies d'antelació.
        </li>
        <li>
          L'Assemblea General podrà tenir caràcter ordinari, un cop a l'any o
          extraordinari.
        </li>
        <li>
          El Comitè Executiu, determinarà en la convocatòria l'ordre del dia,
          sempre que es trobin presents la meitat més un dels seus components.
        </li>
        <li>
          Podrà participar en l'Assemblea General qualsevol militant
          personant-se en el lloc de la convocatòria o qualsevol simpatitzant.
        </li>
        <li>
          Les resolucions de l'Assemblea General seran per majoria simple.
        </li>
        <li>
          Serà obligatori alçar actes de totes les reunions. Els acords presos
          seran per majoria simple.
        </li>
        <li>
          L'Assemblea, tant ordinària com extraordinària, quedarà constituïda a
          l'hora assenyalada en la convocatòria, si estan presents 2/5 del
          número de militants o mitja hora després amb el número de militants
          presents. Per començar es triarà entre els assistents la Taula formada
          per tres membres: president, secretari i vocal.
        </li>
        <li>
          Un cop que s'iniciï una votació no podrà interrompre's, ni es permetrà
          l'entrada a la sala d'aquells afiliats que a l'inici de la votació
          estiguessin absents.
        </li>
        <li>
          La presidència serà ostentada pel membre de més edat, la secretaria
          pel membre de menys edat i el vocal serà elegit a mà alçada pels
          assistents a la mateixa.
        </li>
        <li>
          L'ordre del dia serà estipulat per acord del Comitè Executiu sense
          perjudici que es procedeixi a la inclusió d'aquells assumptes
          sol·licitats per un mínim de 2 afiliats, al corrent de pagament.
        </li>
        <li>
          En cada punt de l'ordre del dia, s'iniciarà un debat obert a tots els
          afiliats, que podran expressar lliurement la seva opinió. La
          intervenció de l'afiliat no podrà superar els 15 minuts,
          posteriorment, la seva rèplica, haurà de respectar igual durada. La
          contrarrèplica no podrà superar els 5 minuts.
        </li>
        <li>El vot serà secret.</li>
      </ul>

      Lelecció dels òrgans directius serà proveïda mitjançant sufragi lliure i
      secret dins dels terminis estipulats.
      <br /><br />
      Es preveurà també el procediment de control democràtic dels dirigents elegits.
      <br /><br />
      Ostentarà la representació legal del partit El president del mateix juntament
      amb el seu Comitè Executiu (Secretari General, Tresorer, Vicepresidents i vocals)
      elegits democràticament entre els seus militants.
      <br /><br />
      Les competències o les atribucions de l'Assemblea General:
      <ol>
        <li>
          Aprovar o censurar, en el seu cas, l'actuació desenvolupada des de
          l'anterior Assemblea General ordinària pel Comitè.
        </li>
        <li>
          Aprovar o modificar la normativa reglamentària i sense poder alterar
          el conjunt de normes de rang superior.
        </li>
        <li>
          Coneixer les comptes del Partit i aprovar o censurar aquestes comptes.
        </li>
        <li>
          Configurar les normes polítiques bàsiques per a la direcció del
          Partit.
        </li>
        <li>
          Debatre i adoptar tots els documents que enriqueixin el pensament
          polític del Partit, defineixin la seva oferta electoral o afectin
          l'estratègia i gestió del Partit.
        </li>
      </ol>
      La Asamblea General ostenta, además, las facultades exclusivas de:
      <ol>
        <li>
          Ratificar unions, coalicions o federacions amb altres partits que
          hagin estat acordats pel Comitè Executiu.
        </li>
        <li>
          Dissoldre el Partit o determinar la seva integració en un altre.
        </li>
        <li>
          Decidir, si escau, sobre qualsevol reforma que pugui afectar la durada
          dels mandats dels càrrecs públics.
        </li>
      </ol>
    </p>

    <p>
      <strong>Art. 11.2 - El Comitè Executiu</strong>
      <br />
      El Comitè Executiu és l'Òrgan de Govern i administració del Partit i estarà
      integrat per:

      <ul>
        <li>
          El president i, si escau, els vicepresidents, son els màxims
          responsables del Partit i exerceixen les facultats següents:
          <ol>
            <li>
              Ostentar la representació política i legal del Partit i presidir
              el seu Comitè Executiu, en les sessions del qual disposarà de vot
              de qualitat en els supòsits d'empat.
            </li>
            <li>
              Proposar al Comitè Executiu els nomenaments del Secretari General,
              els Vicesecretaris Generals i el Tresorer.
            </li>
            <li>
              Coordinar l'acció política del Partit i autoritzar necessàriament
              tota declaració que es faci en nom de SITGES GRUP INDEPENDENT o
              que afecti o comprometi políticament a aquest.
            </li>
            <li>
              Procedir directament a l'obertura d'expedient disciplinari, suspès
              provisionalment el militant de totes les responsabilitats que
              ostenti en el Partit.
            </li>
            <li>
              Delegar en el Secretari General les seves funcions, en cas de
              malaltia.
            </li>
            <li>
              Designar les persones que hagin d'incorporar-se al Comitè Executiu
              per dimissió o mort d'algun dels seus membres.
            </li>
            <li>
              Delegar alguna de les seves competències en el Secretari General o
              en un altre membre del Comitè Executiu.
            </li>
            <li>
              El càrrec de president tindrà una durada màxima de quatre anys, i
              quatre anys més, en cas d'aprovar-se aquesta pròrroga en
              l'Assemblea General corresponent, després dels quals o en cas de
              no ser aprovada la pròrroga, haurà de convocar eleccions a la
              presidència, no més de seixanta dies naturals.
            </li>
          </ol>
        </li>
        <li>
          El secretari general del partit serà nomenat pel Comitè Executiu, a
          proposta del president, dentre els membres elegits per a aquest òrgan.
          Correspon al Secretari General del Partit l'execució, sota la direcció
          del President, dels acords, directrius i decisions adoptades pel
          Comitè Executiu i de les reunions del qual aixecarà Acta, que es
          custodiarà al Llibre corresponent, podent auxiliar-se per a aquesta
          funció d'un Secretari d'actes que assistirà a les reunions sense veu
          ni vot. La direcció de tots els serveis del Partit i la prefectura del
          personal. L'adopció de les mesures necessàries per garantir la
          informació adequada als militants, la comunicació entre aquests i la
          seva participació activa a la vida interna del Partit. Al secretari
          general correspon la suplència ordinària del president del partit.
          Alhora, les funcions i competències del Secretari General podran ser
          delegades, temporalment o permanentment, en els Secretaris Executius.
        </li>
        <li>
          El Tresorer serà nomenat en la forma prevista en aquests Estatuts i
          desenvoluparà les funcions que legalment li corresponguin i aquelles
          que li encomane el Comitè Executiu.
        </li>
        <li>Un màxim de 15 vocals elegits per l'Assemblea General.</li>
      </ul>

      Són membres nats del Comitè Executiu, els regidors electes, aquests, només
      a la corresponent legislatura.
      <br /><br />
      El Comitè Executiu es reunirà ordinàriament, almenys, una vegada al mes per
      convocatòria del seu president, i de manera extraordinària quan així ho sol·licitin
      tres cinquens dels seus components. És obligatori aixecar actes de totes les
      reunions. Els acords presos seran per majoria simple.
      <br /><br />
      Les convocatòries del Comitè Executiu s'han d'efectuar per escrit, amb expressió
      del seu ordre del dia i que fixarà el President del Comitè i amb una antelació
      mínima de setanta-dues hores, 3 dies, i la majoria simple dels membres del
      Comitè podrà sol·licitar la inclusió de nous punts, que passaran automàticament
      a lordre del dia.
      <br /><br />
      El president declararà vàlidament constituït el Comitè Executiu sempre que
      es trobin presents la meitat més un dels seus components, podent nomenar un
      secretari d'actes que assistirà a les sessions sense veu ni vot.
      <br /><br />
      A la primera reunió del Comitè Executiu, es podrà designar una Mesa del Comitè
      Executiu, a efectes de moderar les reunions i prendre acta de les mateixes.
      Si no n'hi ha, correspon al president de la Mesa la funció de moderar, i al
      secretari general de la mateixa la funció de secretari sempre que no hi assisteixi
      el/la secretari/ària titular.
      <br /><br />
      A les reunions del Comitè Executiu tindran veu tots els seus integrants i es
      podran expressar en cada punt de l'ordre del dia, amb una limitació temporal
      de 10 minuts per cada punt a tractar, llevat que a l'inici de la reunió s'acordi
      aixecar aquesta limitació.
      <br /><br />
      Les votacions al si del Comitè Executiu es realitzaran a mà alçada, exceptuant
      els supòsits en què més de ⅔ dels seus integrants sol·licitin votar de manera
      secreta.
      <br /><br />
      El Comitè Executiu exercirà les facultats següents:
      <ul>
        <li>
          Ordenar, coordinar i controlar totes les activitats del Partit i
          adoptar les mesures necessàries per al compliment dels acords i
          directrius emanats dels Congressos i Juntes Directives de la seva
          organització territorial.
        </li>
        <li>
          Elaborar i adoptar quants informes i propostes hagin de ser sotmesos a
          l'Assemblea General.
        </li>
        <li>
          Definir l'estratègia general del Partit i els seus pronunciaments
          polítics i programàtics i establir les línies mestres de l'acció
          política dels diversos grups institucionals, aprovar els seus
          Reglaments i nomenar i cessar als Portaveus i càrrecs directius
          d'aquells.
        </li>
        <li>
          Nomenar als Secretaris Generals, als Vicesecretaris Generals, als
          Secretaris Executius, als Secretaris, als Presidents dels Comitès de
          Drets i Garanties i dels Comitès Electorals, al Tresorer, i aprovar
          les modificacions, supressions o refundicions que afectin a
          l'organització i funcionament intern.
        </li>
        <li>
          Rebre la dimissió de les persones que ostentin funcions en els Òrgans
          de Govern i proveir la seva substitució.
        </li>
        <li>
          Elaborar i aprovar el Pressupost ordinari i aquells altres de
          naturalesa electoral o extraordinària, així com quantes ampliacions o
          modificacions tinguin relació amb ells. Igualment, aprovar totes les
          accions conduents a l'obtenció d'ingressos per al Partit.
        </li>
        <li>
          Elaborar els programes d'acció preelectoral i electoral i delegar, si
          ho estima oportú, en Comissió creada a l'efecte l'exercici de les
          competències d'organització i execució de la campanya electoral.
        </li>
        <li>
          Elegir de entre els seus membres a qui hagi de dirigir el Partit en el
          cas de dimissió o defunció del President, elevat aquesta proposta a la
          seva Junta Directiva corresponent.
        </li>
        <li>
          Autoritzar i aprovar els actes polítics, jurídics i de gestió dels
          Òrgans unipersonals del Partit.
        </li>
        <li>
          Dar suport als seus regidors, coordinant la seva actuació amb la del
          grup municipal.
        </li>
      </ul>
      Per a la destitució o separació de qualsevol militant que ocupi un càrrec electe
      es requereix la presentació prèvia d'una moció raonada de destitució, amb la
      signatura del 40% com a mínim del cens d'afiliats així com la majoria absoluta
      de vots de la militància present a l'assemblea. Si la moció no obté la votació
      necessària, no es pot reiterar fins a sis mesos després. Quan es produeixi
      la dimissió, la destitució o la separació de la presidència d'un Comitè Executiu,
      els membres del comitè en si, elegits a proposta seva, cessaran.
    </p>

    <p>
      <strong>Art. 11.3 - La Comissió de Garanties</strong>
      <br />
      <ol>
        <li>
          La Comissió de Garanties vetlla pel respecte de la democràcia i de la
          unitat interna del Partit. És l'última instància d'interpretació dels
          Estatuts a nivell intern, i és l'encarregada d'instruir els expedients
          disciplinaris iniciats per les instàncies pertinents.
        </li>
        <li>
          La Comissió de Garanties es regirà per un Reglament, que es posarà a
          disposició de les parts implicades en els expedients oberts per aquest
          òrgan.
        </li>
        <li>
          Estarà constituïda per, com a mínim tres afiliats/des del Partit i un
          màxim de cinc, que seran elegits per un període de dos anys per
          l'Assemblea General. Hauran de tenir una antiguitat mínima com a
          afiliat de 6 mesos. El seu mandat expirarà una setmana després de la
          següent reunió de l'Assemblea General.
        </li>
        <li>
          El Comitè Executiu aprovarà un Reglament que desenvoluparà el seu
          règim de funcionament en relació al Cap. 2 art. 06, n.º 4), regulador
          dels drets dels afiliats a acudir a la Comissió de Garanties i Drets
          per impugnar els acords que entenguin contraris a la Llei i els
          presents Estatuts serà de set dies naturals des de la notificació de
          l'acord o resolució de l'òrgan. La Comissió tindrà un període de dos
          mesos per resoldre.
        </li>
        <li>
          Les funcions del Comitè de Garanties són:
          <ul>
            <li>
              Garantir el compliment dels Estatuts i dels Reglaments del Partit.
            </li>
            <li>Assegurar el respecte als drets dels afiliats.</li>
            <li>
              Velar per la transparència de les decisions i dels processos
              electorals interns.
            </li>
            <li>
              Servir de segona instància en la resolució dels expedients
              disciplinaris.
            </li>
          </ul>
        </li>
        <li>
          La Comissió de Garanties només podrà actuar a partir del requeriment
          de qualsevol afiliat.
        </li>
        <li>
          La Comissió de Garanties podrà declarar invàlida qualsevol elecció
          interna, a instància a part, quan existeixi evidència d'irregularitats
          importants i ordenar la seva repetició.
        </li>
        <li>
          També podrà informar a l'Assemblea General o al Comitè Executiu, a
          requeriment d'algun d'aquests òrgans, de les decisions que adopti
          qualsevol òrgan del Partit quan al seu entendre, aquelles siguin
          contràries als Estatuts o la llei, recomanant la seva anul·lació.
        </li>
        <li>
          En els procediments dels quals conegui la Comissió de garanties
          s'expressarà sempre sota la forma de resolucions.
        </li>
        <li>
          Les resolucions de la Comissió de Garanties han de ser raonades i,
          llevat que s'estableixi el contrari en aquests Estatuts, poden ser
          recorregudes davant l'Assemblea general o el Comitè Executiu, que
          només les poden revocar per majoria absoluta de la totalitat dels seus
          membres.
        </li>
        <li>
          La Comissió de Garanties haurà de presentar un informe anual a totes
          les Assemblees del Partit sobre el desenvolupament de la seva
          activitat i respondrà de manera argumentada a les preguntes que els
          afiliats puguin fer-hi.
        </li>
        <li>
          Si durant el temps que duri el mandat els membres de la Comissió de
          Garanties voldrien presentar-se com a candidats a alguna llista
          electoral, hauran de renunciar prèviament al seu càrrec, podent
          retornar a ell en cas de no resultar elegits. Els membres de la
          Comissió de Garanties no podran donar suport públicament a cap
          candidatura del Partit, sense perjudici del que disposa el paràgraf
          següent.
        </li>
        <li>
          La Comissió de Garanties serà present durant l'Assemblea General per a
          l'exercici de les funcions que li són pròpies. Els seus membres hauran
          d'assistir-hi excepte causa justificada, i mentre aquests no podran
          ser delegats i no tindran veu i vot durant el transcurs de les
          sessions de l'Assemblea General que no afectin les seves funcions. Els
          membres de la Comissió de Garanties amb mandat durant l'Assemblea
          General podran optar a ser elegits per a qualsevol òrgan del Partit,
          però s'hauran d'abstenir de participar, en aquest cas, en el control
          de les eleccions relacionades amb aquests òrgans o amb les llistes
          relacionades amb la seva candidatura i cessaran immediatament en el
          seu mandat si resulten elegits.
        </li>
      </ol>
    </p>

    <p>
      <strong>Art. 12 - Règim electoral intern</strong>
      <br />

      <ul>
        <li>
          Principis Generals

          <ol>
            <li>
              Els membres dels diferents òrgans de representació i el govern del
              partit serà escollit per vot secret entre el afiliats o
              compromisos que corresponen en cada cas, de segons aquests
              estatuts i regulacions internes que es van dictar per a aquest
              propòsit.
            </li>
            <li>
              Sense perjudici de les excepcions establertes per les presents
              estatuts per assistir a les eleccions internes dels òrgans del
              partit, el vot es farà mitjançant un sistema de obrir llistes,
              sense que cap afiliat formi part de més d'un llista en un òrgan
              determinat.
            </li>
          </ol>
        </li>
        <li>
          Elección de los integrantes del Junta Directiva

          <ol>
            <li>
              Els membres del Consell d'Administració seran escollits,
              mitjançant un procediment de llistes tancades i bloquejades, per
              la majoria absoluta dels afiliats, reunits a l'Assemblea General,
              mitjançant sufragi lliure i secret.Si a la primera ronda cap de
              les llistes obtinguessin aquesta majoria, procedirem a votar, a la
              segona ronda entre les dues llistes més votades de la primera
              ronda, es van triar la majoria de vots.En qualsevol cas, es
              garantirà la participació de tots els afiliats.
            </li>
            <li>
              Les candidatures es presentaran al Consell d'Administració, amb
              diversos candidats, així com les posicions o posicions per
              triar.Per a la presentació de les candidatures, no serà necessària
              la presentació de signatures o garanties.
            </li>
            <li>
              Els membres del Consell d'Administració ocuparan la posició durant
              un període màxim de quatre anys, poder renovar -se després de
              presentar la corresponent candidatura.En cas que hi hagi baixos,
              es triaran les vacants amb el vot a favor d’un terç dels afiliats,
              reunits a l’Assemblea General, per sufragi lliure i secret.
            </li>
          </ol>
          <li>
            Elecció dels membres dels altres òrgans

            <ol>
              <li>
                Els membres de la resta d’òrgans del partit, que es creuen en
                virtut d’aquests estatuts o d’altres estàndards de
                desenvolupament, seran escollits a les llistes obertes, per la
                majoria simple dels afiliats, reunits a l’Assemblea General,
                mitjançant un sufragi lliure i secret.
              </li>
              <li>
                Per a la presentació de les candidatures, no serà necessària la
                presentació de signatures o garanties.
              </li>
            </ol>
            <li>
              Requisits d’elegibilitat

              <ol>
                <li>
                  Tots els afiliats que no tinguin la seva condició suspesos com
                  a conseqüència d’una sanció disciplinària i siguin conscients
                  del pagament de les seves taxes, tindran dret a ser electors i
                  ser elegible per ocupar qualsevol lloc corresponent a
                  qualsevol dels òrgans del partit, amb Els requisits que
                  s’estableixen en aquests estatuts o els seus estàndards de
                  desenvolupament.
                </li>
                <li>
                  En qualsevol cas, els afiliats no poden presentar candidats
                  que, en el moment de presentar -los, són acusats pel Ministeri
                  Fiscal per a la comissió de cap delicte.De la mateixa manera,
                  els afiliats que tinguin l'estat d'acusat o investigats, fins
                  i tot sense acusació, poden no ser capaços de ser un delicte
                  de corrupció, prevaricació, suborn, influència de la venda,
                  malversació de fluxos públics i qualsevol altre entre el Codi
                  Penal, relacionat a l’administració pública.
                </li>
                <li>
                  Serà incompatible acumular més que una posició orgànica de
                  caràcter executiu dins del partit, excepte si l’Assemblea
                  General ho decideixi.Aquesta incompatibilitat, per la
                  naturalesa de l’organisme, no afectarà els membres del Consell
                  d’Administració, que poden ocupar una altra posició dins del
                  partit, a excepció de les posicions de la Comissió
                  Disciplinària i de la Comissió de Garantia.
                </li>
                <li>
                  El període màxim per ocupar la mateixa posició orgànica serà
                  dos mandats consecutius de quatre anys cadascun, comptant des
                  de les eleccions.Quan les eleccions havien tingut lloc per a
                  la dimissió d’un membre, es calcularà el temps que la persona
                  a qui substituiria.
                </li>
              </ol>
            </li>
          </li>
        </li>
      </ul>
    </p>

    <p>
      <strong>Art. 13 - Control democràtic dels líders escollits</strong>
      <br />
      <ul>
        <li>
          Primàries, elecció de candidatures.
          <br /><br />
          Els ciutadans exigeixen cada cop millor democràcia, per això els candidats
          a Sitges Grup Independent (Sitges GI), que es presenten a les eleccions
          municipals deixaran un procés participatiu amb les següents fases:

          <ol>
            <li>Registre de candidatures</li>
            <li>Publicació de candidatures</li>
            <li>Vot amb la participació d’afiliats a les festes</li>
          </ol>

          El calendari d’aquests processos es determinarà en una assemblea
          general que es convocarà per a aquest propòsit.
          <br /><br />
          Els electors tindran a totes les persones que compleixin el que es requereix
          a les lleis, es registren com a afiliats de partits i expressen la seva
          voluntat expressa de complir el Codi ètic del partit.
          <br /><br />
          Per a la preparació final de les llistes electorals, es tindrà en compte
          el saldo sexual.
        </li>
        <li>
          Drets i deures de les posicions dels líders electes.

          <ol>
            <li>Defensar l'establert en el programa del partit.</li>
            <li>Fer públiques les agendes.</li>
            <li>Fer públics els seus ingressos, béns i patrimoni.</li>
            <li>
              Rendir comptes de les seves actuacions davant la ciutadania.
            </li>
            <li>
              Acceptar la censura i revocació en el seu càrrec per incompliment
              flagrant i no justificat de les seves funcions.
            </li>
            <li>
              No accedir durant un període, mínim de 5 anys, a càrrecs de
              responsabilitats en empreses que hagin estat beneficiàries d'un
              contracte municipal, dins de l'àmbit on hagi desenvolupat la seva
              funció representativa.
            </li>
            <li>
              Garantir la participació de la ciutadania en la presa de decisions
              rellevants.
            </li>
            <li>
              Renunciar a regals i privilegis que se'ls pugui oferir per la seva
              condició i que puguin significar un tracte de favor.
            </li>
            <li>
              No duplicar càrrecs en les institucions, llevat d'aquells
              vinculats a la seva condició de regidor/a.
            </li>
            <li>
              No duplicar sous ni cobrar remuneracions extra per assistir a
              reunions.
            </li>
            <li>
              Limitar el seu mandat a dues legislatures consecutives,
              excepcionalment prorrogable a un mandat més, sempre que es doni un
              procés de discussió i validació interna.
            </li>
          </ol>
        </li>
        <li>
          Cessament o renúncia
          <br /><br />
          El càrrec electe de Sitges Grup Independent ( Sitges GI ), es compromet
          a allò establert al Codi Ètic del partit a: Renunciar o acceptar el cessament
          de forma immediata, davant la imputació per la judicatura de delictes relacionats
          amb corrupció, prevaricació amb ànim de lucre, tràfic d'influències, enriquiment
          injust amb recursos públics o privats, suborn, malversació i apropiació
          de fons públics, ja sigui per interès propi o per afavorir terceres persones.
          Així com també en casos d'acusació judicial per delictes de racisme, xenofòbia,
          violència de gènere, homofòbia o altres delictes amb els drets humans o
          els drets de les persones treballadores.
          <br /><br />
          Els càrrecs electes de Sitges Grup Independent, es comprometen mensualment
          a retre comptes de la seva tasca política davant del Comitè Executiu, havent
          d'acudir a totes les Assemblees Ordinàries i/o Extraordinàries, que se
          celebrin, en què hauran de retre comptes oralment o per escrit, sempre
          respectant en tot cas, la LOPD i qualsevol normativa a què es vegin sotmès
          per la seva condició de càrrec públic.
        </li>
      </ul>
    </p>

    <h3>Capítol quart. Règim econòmic i patrimonial.</h3>

    <p>
      <strong>Art. 14 - Recursos econòmics</strong>
      <br />
      El partit té tota la capacitat legal i actua, sense patrimoni fundacional.
    </p>

    <p>
      <strong
        >Art. 15 - Determinació de la persona econòmica-financera encarregada
        del partit</strong
      >
      <br />
      El tresorer serà designat per acord del Comitè Executiu, que s’encarregarà
      de preparar els comptes anuals i la seva presentació davant el Tribunal de
      Comptes.Les funcions per pagar els pagaments i l’autorització de les despeses
      indicades pels estatuts;Qualsevol altra funció que se li atribueixi els estatuts
      o l’organisme màxim de gestió.
      <br /><br />
      Els recursos econòmics del partit estaran constituïts per:

      <ul>
        <li>
          De finançament privat

          <ol>
            <li>
              Les quotes i les aportacions dels seus afiliats i partidaris,
              adherits i partidaris, que s’han d’aprovar anualment a l'Assemblea
              General.
            </li>
            <li>
              Els productes de les activitats del partit polític i rendiments de
              la gestió pròpia patrimoni, els avantatges de les seves activitats
              promocional i aquells que es poden obtenir dels serveis que poden
              proporcionar en relació amb els seus propòsits específics.
            </li>
            <li>
              Donacions en diners o en espècie, que perceben termes i condicions
              previstes per a la llei 8/2007.
            </li>
            <li>Els fons dels préstecs o crèdits que es preocupen.</li>
            <li>Les herències o els llegats que reben.</li>
          </ol>
        </li>
        <li>
          Procedents del finançament públic.
          <br /><br />
          Les subvencions públiques que per a despeses electorals i despeses de funcionament
          ordinari s'estableixin en els termes previstos a la Llei Orgànica 5/1985,
          de 19 de juny, del Règim Electoral General, la Llei Orgànica 8/2007, de
          4 de juliol, de finançament dels partits polítics i altres lleis de comunitats
          autònomes, i dels grups de representants als òrgans de les administracions
          locals, que li puguin correspondre.
        </li>
      </ul>
    </p>

    <p>
      <strong
        >Art. 16 - Procediment de rendició de comptes. Administració,
        fiscalització i control</strong
      >
      <br />
      L'administració, fiscalització i control del seu règim econòmic i patrimonial
      es realitzarà d'acord amb les normes següents:

      <ol>
        <li>
          Els exercicis econòmics tindran la durada de l'any natural i es
          tancaran el 31 de desembre amb el vistiplau del president,
          autorització del secretari i intervenció del responsable corresponent
          de finances.
        </li>
        <li>
          El pressupost anual haurà de ser aprovat pel Comitè Executiu d'aquesta
          dins dels quaranta-cinc primers dies hàbils del nou exercici. Quan en
          el transcurs d'un exercici correspongui la convocatòria d'eleccions
          s'elaborarà també un pressupost especial en què es prevegin les
          previsions d'ingressos i despeses necessàries per a la concurrència
          del partit a aquests comicis.
        </li>
      </ol>

      S'haurà de preveure un sistema de control intern que garanteixi la
      intervenció adequada, comptabilitzadora de tots els actes i documents dels
      quals es derivin drets i obligacions de contingut econòmic, d'acord amb
      els seus estatuts.
    </p>

    <p>
      <strong>Art. 17 - Règim documental. Obligacions comptables</strong>
      <br />
      El partit portarà, a més del Llibre d'Afiliats, els Llibres d'Actes, Comptabilitat,
      de Tresoreria, i d'Inventaris i Balanços, el contingut dels quals es fixarà
      reglamentàriament i que permetin en tot moment conèixer la seva situació financera.
      <br /><br />
      En compliment amb l'art 3.2 o) de la LO 6/2002, de partits polítics, el responsable
      economicofinancer del partit haurà, obligatòriament, procedir a la remissió
      anual de comptes respectant la normativa comptable que legalment s'estableixi.
    </p>

    <h3>Capítol cinquè. Dissolució del partit.</h3>

    <p>
      <strong>Art. 18 - Dissolució</strong>
      <br />
      El partit es dissoldrà o s'extingirà per acord de l'Assemblea General convocada
      a aquest efecte i adoptada per una majoria de dos terços dels presents. La
      destinació del patrimoni resultant en el moment de la dissolució, una vegada
      satisfetes les obligacions financeres que existissin, es destinarà a la Fundació
      Ave María de Sitges.
    </p>

    <style>
      section {
        max-width: var(--media-lg);
        gap: 2em;
        padding: 4em 1em;

        @media (max-width: 720px) {
          padding: 2em;
        }
      }
      
      h1 {
        border-left: 6px solid var(--accent) !important;
        padding: 2rem;
        
        @media (max-width: 720px) {
          padding: 1rem;
        }
      }

      ol > li {
        list-style: decimal;
        padding-bottom: 1em;
        margin-left: 1em;
      }

      ul > li {
        list-style: disc;
        padding-bottom: 1em;
        margin-left: 1em;
      }

      li {
        &::marker {
          color: var(--accent);
          font-weight: bold;
        }

        & li {
          padding: 0.5em 0;
        }
      }
    </style>
  </section>
</Main>
