---
import Main from "@src/layouts/Main.astro";
---

<Main>
  <section class="col wfull">
    <h1 class="tcenter wfull">Estatuts</h1>
    <h3>Capítol primer: Denominació, finalitats, domicili.</h3>
    <p>
      <strong>Art. 01 - Denominació</strong>
      <br />
      Sota la protecció dels articles 6 de la Constitució Espanyola i 1 de la Llei
      Orgànica 6/2002, del 27 de juny, de Partits Polítics, es constitueix el partit
      polític anomenat SITGES GRUP INDEPENDENT, les sigles del qual són SITGES-GI
      sent el símbol identificatiu del partit en les seves diferents versions el
      següent:
    </p>
    <p>
      <strong>Art. 01.02 - Símbols</strong>
      <br />
      El Símbol del Partit està inspirat en la I de Independent, perquè el partit
      no depèn d'altres d'àmbit autonòmic i/o estatal, sinó que només es deu a la
      voluntat dels ciutadans de Sitges, i així deixar constància que som un partit
      municipalista, transversal, obert a totes les sensibilitats i que té a Sitges
      com a nexe comú. Al seu torn, juguem amb els colors de Sitges, el blau i el
      blanc. El símbol té una forma de cercle que ve a simbolitzar que tots cabem
      en un mateix espai. En la part superior figura el nom de SITGES i a la part
      inferior GRUP INDEPENDENT, que són les paraules que ens defineixen i identifiquen.
      <br />
      <br />
      <img src="/logo-blue.svg" alt="Sirtes GI logotip horitzontal" />
      <br />
      <br />
      Ús preferent El logotip horitzontal es compon del logotip preferent ja explicat
      en aquest punt i a més porta afegit un rectangle horitzontal amb els colors
      blau i blanc característics de Sitges amb el nom del partit i l'eslògan del
      mateix.
    </p>

    <p>
      <strong>Art. 02 - Ámbito y Fines</strong>
      <br />
      SITGES GRUP INDEPENDENT és un partit polític d'àmbit d'actuació municipal concretament
      de la localitat de Sitges, constituït per contribuir democràticament a la determinació
      de la política local i a la formació de la voluntat política dels ciutadans,
      així com promoure la seva participació en les institucions representatives
      de caràcter polític mitjançant la presentació i suport de candidats en les
      corresponents eleccions.
      <br /><br />
      <i>1.</i> Presentació, com a persona jurídica interessada, per mitjà de qui
      acreditin ser els seus representants, per qualsevol mitjà vàlid en Dret, de
      tota mena d'escrits, peticions, al·legacions i recursos, ja siguin administratius
      o judicials, així com la realització de qualsevol tràmit o gestió legalment
      previst en procediments i expedients de totes les classes que es puguin seguir
      en qualsevol jurisdicció, ordre jurisdiccional o sector de qualsevol Administració
      Pública o entitat assimilable al marge del seu grau d'autonomia o persona jurídica
      privada, qualsevol que sigui la branca del Dret en què actuïn o la normativa
      especial que els fos aplicable o fins i tot encara que actuïn consuetudinàriament
      sobre la base d'usos i costums admessos per l'Ordenament Jurídic en vigor.
      <br /><br />
      <i>2.</i> Personació i actuació per intervenir oralment en tots els tràmits
      o gestions corresponents als procediments esmentats anteriorment.
      <br /><br />
      <i>3.</i> Elaboració de campanyes polítiques per la defensa i promoció dels
      fins del Partit.
    </p>

    <p>
      <strong
        >Art. 03 - Domicili social i espai web amb direcció electrónica</strong
      >
      <br />
      El domicili social rau a Sitges, provincia de Barcelona, al carrer Santiago
      Rusiñol 29 1r 1a, amb codi postal 08870 de Sitges (Barcelona). El domicili
      pot ser modificat per acord del Comitè Executiu. Pel que fa al lloc web s'estableix
      el domini <a href="https://www.sitgesgi.cat/" rel="noreferrer"
        >www.sitgesgi.cat</a
      > i l'adreça electrònica <a
        href="mailto:info@sitgesgi.cat"
        rel="noreferrer">info@sitgesgi.cat</a
      >.
    </p>
  </section>
</Main>

<style>
  section {
    max-width: var(--media-lg);
    gap: 2em;
    padding: 4em 1em;

    @media (max-width: 720px) {
      padding: 2em 1em;
    }
  }
</style>
