---
import Header from "@components/Header.astro";
import News from "@src/components/sections/News.astro";
import Highlights from "@src/components/sections/Highlights.astro";
import Team from "@src/components/sections/Team.astro";
import Main from "@src/layouts/Main.astro";
---

<Main>
  <Header />
  <Highlights />
  <News />
  <Team />
</Main>
