---
import Main from "@src/layouts/Main.astro";
---

<Main>
  <section class="col wfull">
    <h1>Manifest</h1>

    <img src="/manifest-bg.jpg" alt="Sitges" />

    <p>
      Sitges Grup Independent som un grup de persones que estimem Sitges i que
      hem fet possible un nou projecte polític per al nostre poble, que ja és
      una alternativa política real i ferma. El nostre és un projecte
      engrescador, que pretén il·lusionar a tots i cadascun dels sitgetans i
      sitgetanes.
      <ul>
        <li>
          Ens definim com a partit transversal, obert a totes les sensibilitats
          i que té Sitges com a nexe i causa comuna.
        </li>
        <li>
          Volem un Sitges de qualitat i plural, on totes les persones puguin
          viure i realitzar les seves activitats en convivència, fent realitat
          el creixement econòmic, social i cultural.
        </li>
        <li>
          Anhelem un Sitges modern, estructural i amb ambició de futur, que al
          mateix temps conservi les seves essències, festes i tradicions.
        </li>
        <li>
          Creiem que és molt important escoltar els ciutadans, però escoltar-los
          de debò. No n’hi ha prou en fomentar la participació a través de grans
          campanyes d’imatge si després les decisions que s’acaben prenent van
          en contra del sentir d’una part important de la població. La felicitat
          personal i de partit no pot passar mai per davant de la felicitat
          col·lectiva.
        </li>
        <li>
          Creiem que s’han d’imposar la racionalitat i el sentit comú. Com? A
          través del treball pragmàtic, el que busca el camí més curt per a
          cobrir les necessitats reals que el Sitges de principi del segle XXI
          necessita, sense deixar de banda el futur. Volem aportar propostes
          constructives, propostes realitzables, propostes que sumin i que
          responguin a les necessitats reals dels sitgetans i les sitgetanes.
        </li>
        <li>
          Som conscients del difícil moment que viuen moltes persones properes a
          nosaltres degut a la delicada situació econòmica imperant i creiem que
          la classe política, com a gestora dels interessos dels ciutadans, ha
          de ser la primera en donar exemple.
        </li>
        <li>
          Considerem que l’equip de Govern (2007/2011) ha sigut excessivament
          ambiciós en matèria econòmica. El fet que s’hagin realitzat projectes
          importants per a la vila no justifica un deute astronòmic que a finals
          de l’exercici 2008, segons els arxius del Ministeri d’Hisenda,
          depassava ja els 40 milions d’euros. Estem encara en espera de
          conèixer les xifres de l’exercici 2009. Creiem que s’ha estirat més el
          braç que la màniga en tots els sentits: societats municipals i càrrecs
          de confiança inclosos.
        </li>
        <li>
          Sabem doncs que l’herència econòmica que deixarà l’actual equip de
          Govern no serà precisament per a tirar coets, però més enllà d’un
          motiu de crítica això representa per a nosaltres una motivació
          afegida, ja que creiem que és ara, en una situació complexa i de
          vaques magres, quan cal demostrar el nostre compromís amb la gent de
          Sitges. I és que no ho oblidem, anem tots al damunt del mateix vaixell
          i cal que vetllem també pel Sitges que deixarem a les futures
          generacions de sitgetans i sitgetanes. No podem continuar hipotecant
          el seu futur.
        </li>
      </ul>
    </p>
  </section>

  <style>
    section {
      max-width: var(--media-lg);
      gap: 4em;
      padding: 4em 1em;
      
      @media (max-width: 720px) {
        gap: 2em;
        padding: 2em;
      }
    }
    
    h1 {
      border-left: 6px solid var(--accent) !important;
      padding: 2rem;

      @media (max-width: 720px) {
        padding: 1rem;
      }
    }

    img {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 0.25em;
      box-shadow: 0 5px 20px hsl(var(--base-500-hsl), 0.4);
    }

    li {
      list-style: inside;
      padding-bottom: 1em;
    }
  </style>
</Main>
