---
import Main from "@src/layouts/Main.astro";
---

<Main>
  <section class="col wfull">
    <h1>Política de cookies</h1>

    <p>
      Una <em>cookie</em> és un petit fitxer de text que s'emmagatzema al vostre
      navegador quan visita gairebé qualsevol pàgina web. La seva utilitat és que
      la web sigui capaç de recordar la vostra visita quan torneu a navegar per aquesta
      pàgina. Les <em>cookies</em> solen emmagatzemar informació de caràcter tècnic,
      preferències personals, personalització de continguts, estadístiques dús, enllaços
      a xarxes socials, accés a comptes dusuari, etc. L'objectiu de la <em
        >cookie</em
      > és adaptar el contingut de la web al seu perfil i necessitats, sense <em
        >cookies</em
      > els serveis oferts per qualsevol pàgina es veurien minvats notablement.
    </p>
    <h2>Cookies utilitzades en aquest lloc web</h2>
    <p>
      Seguint les directrius de l'Agència Espanyola de Protecció de Dades
      procedim a detallar l'ús de <em>cookies</em> que fa aquesta web per tal d'informar-vos
      amb la màxima exactitud possible.
    </p>
    <p>Aquest lloc web utilitza les <strong>cookies pròpies</strong>:</p>
    <ul>
      <li>
        Cookies de sessió, per garantir que els usuaris que escriguin comentaris
        al bloc siguin humans i no aplicacions automatitzades. D'aquesta manera
        es combat el <em>spam</em>.
      </li>
    </ul>
    <p>
      Aquest lloc web utilitza les següents <strong>cookies de tercers</strong>:
    </p>
    <ul>
      <li>
        Google Analytics: Emmagatzema <em>cookies</em> per poder elaborar estadístiques
        sobre el trànsit i el volum de visites d'aquesta web. En utilitzar aquest
        lloc web està consentint el tractament dinformació sobre vostè per Google.
        Per tant, l'exercici de qualsevol dret en aquest sentit ho haurà de fer comunicant
        directament amb Google.
      </li><li>
        Xarxes socials: Cada xarxa social utilitza les seves pròpies <em
          >cookies</em
        > perquè pugueu punxar en botons del tipus <em>M'agrada</em> o<em
          >Compartir</em
        >.
      </li>
    </ul>
    <h2 id="desactivar_cookies">Desactivació o eliminació de cookies</h2>
    <p>
      En qualsevol moment podreu exercir el vostre dret de desactivació o
      eliminació de cookies d'aquest lloc web. Aquestes accions es realitzen de
      manera diferent en funció del navegador que utilitzeu.
    </p>
    <p>
      A continuació us indiquem com accedir a una galeta determinada del
      navegador Chrome. Nota: aquests passos poden variar en funció de la versió
      del navegador:
    </p>
    <ol>
      <li>
        Aneu a Configuració o Preferències mitjançant el menú Fitxer o bé
        clicant la icona de personalització que apareix a dalt a la dreta.
      </li>
      <li>Veureu seccions diferents, premeu Mostrar opcions avançades.</li>
      <li>Aneu a Privadesa, Configuració de contingut.</li>
      <li>Seleccioneu Totes les galetes i les dades de llocs.</li>
      <li>
        Apareixerà un llistat amb totes les galetes ordenades per domini. Perquè
        us sigui més fàcil trobar les cookies d'un determinat domini introduïu
        parcialment o totalment l'adreça al camp Cerca cookies.
      </li>
      <li>
        Després de realitzar aquest filtre apareixeran en pantalla una o
        diverses línies amb les galetes del web sol·licitat. Ara només heu de
        seleccionar-la i prémer la X per procedir a la seva eliminació.
      </li>
    </ol>
    <p>
      Per accedir a la configuració de cookies del navegador <strong
        >Internet Explorer</strong
      >
      seguiu aquests passos (poden variar en funció de la versió del navegador):
    </p>
    <ol>
      <li>Aneu a Eines, Opcions d'Internet.</li>
      <li>Feu clic a Privadesa.</li>
      <li>
        Moveu el botó lliscant fins a ajustar el nivell de privadesa que
        vulgueu.
      </li>
    </ol>
    <p>
      Per accedir a la configuració de cookies del navegador <strong
        >Firefox</strong
      > seguiu aquests passos (poden variar en funció de la versió del navegador):
    </p>
    <ol>
      <li>Aneu a Opcions o Preferències segons el vostre sistema operatiu.</li>
      <li>Feu clic a Privadesa.</li>
      <li>
        A Historial trieu Usa una configuració personalitzada per a l'historial.
      </li>
      <li>
        Ara veureu l'opció Acceptar cookies, podeu activar-la o desactivar-la
        segons les vostres preferències.
      </li>
    </ol>
    <p>
      Per accedir a la configuració de cookies del navegador <strong
        >Safari per a OSX</strong
      >
      seguiu aquests passos (poden variar en funció de la versió del navegador):
    </p>
    <ol>
      <li>Aneu a Preferències, després Privadesa.</li>
      <li>
        En aquest lloc veureu l'opció Bloquejar cookies perquè ajusti el tipus
        de bloqueig que voleu realitzar.
      </li>
    </ol>
    <p>
      Per accedir a la configuració de cookies del navegador <strong
        >Safari per a iOS</strong
      >
      seguiu aquests passos (poden variar en funció de la versió del navegador):
    </p>
    <ol>
      <li>Aneu a Ajustaments, després Safari.</li>
      <li>
        Aneu a Privadesa i Seguretat, veureu l'opció Bloquejar cookies perquè
        ajusti el tipus de bloqueig que voleu realitzar.
      </li>
    </ol>
    <p>
      Per accedir a la configuració de cookies del navegador per a dispositius
      <strong>Android</strong> seguiu aquests passos (poden variar en funció de la
      versió del navegador):
    </p>
    <ol>
      <li>
        Executeu el navegador i premeu la tecla Menú i, a continuació,
        Configuració .
      </li>
      <li>
        Aneu a Seguretat i Privadesa , veureu l'opció Acceptar cookies perquè
        activeu o desactiveu la casella.
      </li>
    </ol>
    <p>
      Per accedir a la configuració de cookies del navegador per a dispositius
      <strong>Windows Phone</strong> seguiu aquests passos (poden variar en funció
      de la versió del navegador):
    </p>
    <ol>
      <li>Obriu Internet Explorer , després Més , després Configuració</li>
      <li>Ara podeu activar o desactivar la casella Permetre cookies .</li>
    </ol>
    <h2>Notes addicionals</h2>
    <ul>
      <li>
        Ni aquesta web ni els seus representants legals es fan responsables ni
        del contingut ni de la veracitat de les polítiques de privadesa que
        puguin tenir els tercers esmentats en aquesta política de <em
          >cookies</em
        >.
      </li><li>
        Els navegadors web són les eines encarregades d'emmagatzemar les <em
          >cookies</em
        > i des d'aquest lloc ha d'efectuar el dret a eliminar-lo o desactivar-lo.
        Ni aquesta web ni els seus representants legals poden garantir la correcta
        o incorrecta manipulació de les <em>cookies</em> per part dels navegadors
        esmentats.
      </li><li>
        En alguns casos és necessari instal·lar <em>cookies</em> perquè el navegador
        no oblidi la seva decisió de no acceptar-les.
      </li><li>
        En el cas de les <em>cookies</em> de Google Analytics, aquesta empresa emmagatzema
        les <em>cookies</em> en servidors ubicats als Estats Units i es compromet
        a no compartir-la amb tercers, excepte en els casos en què sigui necessari
        per al funcionament del sistema o quan la llei obligui a aquest efecte. Segons
        Google no desa la vostra adreça IP. Google Inc. és una companyia adherida
        a l'Acord de Port Segur que garanteix que totes les dades transferides seran
        tractades amb un nivell de protecció d'acord amb la normativa europea.Si
        voleu informació sobre l' ús que Google dóna a les cookies <a
          href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es&csw=1"
          target="_blank"
          rel="noreferrer noopener">us adjuntem aquest altre enllaç</a
        >.
      </li><li>
        Per a qualsevol dubte o consulta sobre aquesta política de <em
          >cookies</em
        > no dubteu a comunicar-vos amb nosaltres a través de la secció de contacte.
      </li>
    </ul>
  </section>
</Main>

<style>
  section {
    max-width: var(--media-lg);
    gap: 2em;
    padding: 4em 1em;

    @media (max-width: 720px) {
      padding: 2em 1em;
    }
  }

  h1 {
    border-left: 6px solid var(--accent) !important;
    padding: 2rem;
  }

  ol > li {
    list-style: decimal;
    padding-bottom: 1em;
    margin-left: 1em;
  }

  ul > li {
    list-style: disc;
    padding-bottom: 1em;
    margin-left: 1em;
  }

  li {
    &::marker {
      color: var(--accent);
      font-weight: bold;
    }

    & li {
      padding: 0.5em 0;
    }
  }
</style>
