---
import Main from "@src/layouts/Main.astro";
---

<Main>
  <section class="col wfull">
    <h1>Política de privacitat</h1>

    <h4>POLÍTICA DE PROTECCIÓ DE DADES</h4>

    <p>
      Tant la privadesa de les dades com la confidencialitat de la informació
      són aspectes importants per a Sitges Grup Independent (Sitges GI). Per
      això, i segons s’estableix en el Reglament general de protecció de dades,
      Reglament (UE) 2016/679 del Parlament Europeu i del Consell del 27 d’abril
      del 2016 relatiu a la protecció de les persones físiques pel que fa al
      tractament de dades personals i a la lliure circulació d’aquestes dades,
      amb aquesta política de protecció de dades s’estableix la manera en què es
      tracten les dades de caràcter personal obtingudes pel Partit.<br /><br
      />Aquesta política podrà variar amb el temps a causa dels possibles canvis
      legislatius, jurisprudencials o dels criteris seguits per l’Agència
      Espanyola de Protecció de Dades i/o l’autoritat competent a cada moment.
      És per això que el Partit es reserva el dret a modificar la present
      política per adaptar-la a novetats legislatives o jurisprudencials que es
      troben vigents a cada moment
    </p>

    <p>Data última actualització: 18 de març de 2019.</p>

    <h4>Qui és el titular responsable del tractament de les teves dades?</h4>

    <p>
      El titular responsable del tractament de les dades és:<br /><strong
        >SITGES GRUP INDEPENDENT (SITGES GI)</strong
      ><br />CIF: G65037103<br />C/ santiago Rusiñol, 11 1r 1a<br />08870 Sitges
      (Barcelona)<br />Delegat de protecció de dades: <a
        href="info@sitgesgi.cat"
        rel="noreferrer">info@sitgesgi.cat</a
      >
    </p>

    <p></p>

    <h4>
      Amb quines finalitats tractem les teves dades? Quina és la legitimació per
      a poder tractar-les? A qui les comuniquem?&nbsp; I quant de temps les
      guardem?
    </h4>

    <h4>Dades Afiliats</h4>

    <p>
      Finalitats del tractament: les dades personals que es recullen en el
      moment d’afiliar-se al Partit seran tractades per a les següents
      finalitats:
    </p>

    <ul>
      <li>La gestió administrativa i organitzativa pròpia del Partit.</li><li>
        La gestió del cobrament de les quotes dels militants.
      </li><li>
        La gestió de les comunicacions periòdiques de les activitats del Partit,
        tant per mitjans electrònics com per correu postal.
      </li><li>
        Categories especials de dades: les opinions polítiques són considerades
        dades especialment sensibles i només poden ser tractades amb el
        consentiment del seu titular. Pel fet d’afiliar-se al partit s’està
        autoritzant al tractament d’aquestes dades sensibles.<br />Legitimació:
        La base legal per als citats tractaments és el consentiment, que es
        considera atorgat amb l’afiliació al Partit.<br />Terminis de
        conservació: conservarem les dades personals mentre estigui donat d’alta
        com a afiliat. Un cop finalitzada la seva relació amb el partit, les
        dades seran bloquejades i custodiades amb finalitats estadístiques,
        aplicant mesures tècniques i organitzatives per garantir el principi de
        minimització de dades. En tot cas, podrà exercir els seus drets tal i
        com s’indica a la present política.<br />Destinataris de les dades: les
        dades dels afiliats seran comunicades al PSOE, segons es disposa al
        protocol d’unitat del socialisme català.<br />Així mateix, podran ser
        comunicades per una obligació legal, a petició de jutges o tribunals en
        el marc d’una investigació judicial i/o policial.
      </li><li>
        Imatge: el dret a la pròpia imatge ve reconegut a l’art. 18.1 de la
        Constitució espanyola i està regulat per la Llei orgànica 1/1982 sobre
        la protecció del dret al honor, a la intimitat personal i familiar i a
        la pròpia imatge així como a la normativa de protecció de dades de
        caràcter personal.<br />Cada cop és més habitual la captació d’imatges
        mitjançant gravacions de vídeo o àudio amb motiu d’activitats i
        conferències organitzades pel Partit.<br />Per poder captar, fer ús i
        difusió d’aquestes imatges amb l’objectiu d’il·lustrar publicacions i
        materials del Partit, així com la publicació a Internet, ja sigui en el
        propi web corporatiu com a xarxes socials i d’altres portals de difusió,
        es sol·licitarà la pertinent autorització quan el titular de la imatge
        sigui clarament identificable, excepte si tal i com estableix la LO
        1/1982 (art. 18.2.c) es fa referència a una informació gràfica sobre un
        succés o esdeveniment públic i la imatge d’una persona apareix de forma
        accessòria.<br />Legitimació: la base legal per al tractament és el
        consentiment del titular, que li serà sol·licitat en els supòsits
        legalment establerts. Aquest consentiment no serà necessari, segons
        s’estableix a la LO 1/1982 sobre la protecció del dret a l’ honor, a la
        intimitat personal i familiar i a la pròpia imatge, en els supòsits
        d’una informació gràfica sobre un succés o esdeveniment públic i la
        imatge d’una persona apareix de forma accessòria.<br />Terminis de
        conservació: les dades es conservaran al Partit mentre no es sol·liciti
        la seva supressió. La supressió de les imatges no tindrà efectes
        retroactius.<br />Destinataris de les dades: les imatges seran difoses a
        tercers mitjançant Internet i les xarxes socials.
      </li>
    </ul>

    <p>No està prevista la transferència internacional de dades.</p>

    <h4>Dades Proveïdors i Contactes Professionals</h4>

    <p>
      Finalitats del tractament: les dades de contactes professionals i
      proveïdors del Partit són tractades amb la finalitat de gestionar les
      relacions comercials, contractuals i professionals establertes.<br
      />Legitimació: la base legal per al tractament és el consentiment, que es
      considera atorgat amb l’entrega voluntària de les seves dades al partit,
      l’existència d’una relació contractual i/o l’interès legítim del partit en
      mantenir les relacions professionals.<br />En tot cas, es podran exercir
      els drets indicats a la present política, en qualsevol moment.<br
      />Terminis de conservació: les dades es conservaran al Partit mentre el
      titular no en sol·liciti la baixa.<br />Destinataris de les dades: les
      dades no es comunicaran a tercers excepte per una obligació legal, a
      petició de jutges o tribunals en el marc d’una investigació judicial i/o
      policial.<br />No està prevista la transferència internacional de dades.
    </p>

    <h4>Dades Entitats, Organismes Públics i/o Privats</h4>

    <p>
      Finalitats del tractament: Sitges Grup Independent (Sitges GI) disposa
      d’una base de dades de contactes d’entitats, organismes públics i/o
      privats per tal de donar a conèixer les activitats del Partit per mitjans
      electrònics.<br />Legitimació: la base legal per al citat tractament és el
      consentiment i l’interès legítim del partit en dur a terme comunicacions
      sobre les seves activitats. En tot cas, en cada comunicació que es remeti
      es facilitarà la possibilitat de donar-se de baixa. A més a més, podrà
      exercir els seus drets en qualsevol moment, tal i com s’estableix a la
      present política.<br />Terminis de conservació: les dades es conservaran
      al Partit mentre l’usuari no en sol·liciti la baixa.<br />Destinataris de
      les dades: les dades no es comunicaran a tercers excepte per una obligació
      legal, a petició de jutges o tribunals en el marc d’una investigació
      judicial i/o policial.<br />No està prevista la transferència
      internacional de dades.
    </p>

    <h4>Dades de Candidats que faciliten el seu cv al partit</h4>

    <p>
      Finalitats del tractament: les dades dels candidats que faciliten les
      seves dades curriculars al Partit seran tractades per:
    </p>

    <ol>
      <li>
        La selecció de personal durant els processos que convoqui el Partit.
      </li><li>
        Mantenir un arxiu amb informació curricular si el perfil requerit del
        candidat s’ajusta a les característiques i necessitats de l’entitat.
      </li>
    </ol>

    <p>
      Legitimació: la base legal pels citats tractaments és el consentiment, que
      es considera atorgat amb l’enviament voluntari del seu CV al partit.<br
      />Terminis de conservació: per tal de donar compliment al principi
      d’exactitud i limitació del termini de conservació, les dades curriculars
      seran eliminades en el període màxim d’un any des de la seva captació.<br
      />Destinataris de les dades: les dades no es comunicaran a tercers excepte
      per una obligació legal, a petició de jutges o tribunals en el marc d’una
      investigació judicial i/o policial.
    </p>

    <p>No està prevista la transferència internacional de dades.</p>

    <p>
      Donat que les dades curriculars són fàcilment variables en el temps,
      preguem que per mantenir les dades actuals, exactes i al dia, se’ns
      comuniqui qualsevol canvi o modificació que s’hagi pogut produir.
    </p>

    <h4>Contactes Campanyes</h4>

    <p>
      Finalitats del tractament: captació de contactes per fer comunicacions
      sobre alguna campanya, acte o esdeveniment concret del partit.<br
      />Legitimació: la base legal pel tractament és el teu consentiment que
      atorgues en el moment de subscriure’t a la teva federació/agrupació.<br
      />Terminis de conservació: les dades es guardaran mentre duri la campanya,
      durant el temps necessari per complir amb les obligacions legals o se
      sol·liciti la seva supressió́ per l’interessat.<br />Destinataris de les
      dades: les dades no es comunicaran a tercers excepte per una obligació
      legal, a petició de jutges o tribunals en el marc d’una investigació
      judicial i/o policial.
    </p>

    <p>No està prevista la transferència internacional de dades.</p>

    <h4>Formularis Web</h4>

    <p>
      Finalitats del tractament: a Sitges Grup Independent (Sitges GI) tractem
      les dades personals dels nostres usuaris que deixen les seves dades a
      través de la Web per a les següents finalitats:Formulari “Contacta’ns” i
      formulari “Afilia’t” per atendre les sol·licituds que ens faci arribar.
    </p>

    <p>
      Legitimació: la base legal per al tractament és el consentiment, que es
      considera atorgat acceptant la present política de protecció de dades.<br
      />Terminis de conservació: les dades seran eliminades un cop atesa la seva
      sol·licitud.<br />Si s’ha donat d’alta al sistema Whatsapp del partit o a
      les comissions sectorials, les seves dades es mantindran actives mentre no
      en sol·liciti la baixa.<br />Destinataris de les dades: les dades no es
      comunicaran a tercers excepte per una obligació legal, a petició de jutges
      o tribunals en el marc d’una investigació judicial i/o policial.<br /><br
      />No es preveuen transferències internacionals de dades.
    </p>

    <h4>Bústia del DPT</h4>

    <p>
      Finalitats del tractament: atendre les consultes, queixes i sol·licituds
      dels titulars de les dades.<br />Legitimació: la base legal pel tractament
      és el teu consentiment que es considera atorgat en el moment que remets la
      teva consulta o petició al DPD.<br />Terminis de conservació: les dades
      s’eliminen un cop prescrits els terminis legals de prescripció davant
      l’autoritat de protecció de dades (3 anys).<br />Destinataris de les
      dades: les dades no es comunicaran a tercers excepte per una obligació
      legal, a petició de de l’autoritat de protecció de dades, per jutges o
      tribunals en el marc d’una investigació judicial i/o policial.
    </p>

    <p>No està prevista la transferència internacional de dades.</p>

    <h4>Informació sobre la qualitat de les dades</h4>

    <p>
      S’informa als titulars de les dades personals que les dades que recull el
      PSC són tractades de manera lícita, lleial i transparent en relació amb
      l’interessat, amb finalitats determinades, explícites i legítimes, tal i
      com s’ha exposat a l’apartat anterior, i no seran tractades ulteriorment
      de manera incompatible amb aquestes finalitats.<br />Les dades que es
      recullen són adequades, pertinents i limitades al necessari en relació amb
      les finalitats per a les &nbsp;quals són tractades («minimització de
      dades»).
    </p>

    <h4>
      Quins són els teus drets en matèria de protecció de dades i com
      exercir-los?
    </h4>

    <ul>
      <li>
        Dret d’accés, rectificació i supressió: el titular de les dades tindrà
        dret a accedir a les seves dades personals, així com a sol·licitar la
        rectificació de les dades inexactes o, si escau, sol·licitar la seva
        supressió quan, entre d’altres motius, les dades ja no siguin
        necessàries per a les finalitats per a &nbsp;les quals van ser
        recollides.
      </li>
      <li>
        Limitació del tractament: en determinades circumstàncies, es podrà
        sol·licitar la limitació del tractament de les seves dades, en aquest
        cas únicament es conservaran per a l’exercici o la defensa de
        reclamacions.
      </li>
      <li>
        Dret d’oposició: en determinades circumstàncies i per motius relacionats
        amb la seva situació particular, el titular de les dades podrà oposar-se
        al tractament de les seves dades. L’entitat deixarà de tractar-les,
        excepte per motius legítims imperiosos, o l’exercici o la defensa de
        possibles reclamacions.
      </li>
      <li>
        Dret a la portabilitat de les dades: el titular de les dades tindrà dret
        a rebre les dades personals que li incumbeixin, que hagi facilitat en un
        format estructurat, d’ús comú i lectura mecànica quan: a) el tractament
        estigui basat en el consentiment o en un contracte, i b) el tractament
        s’efectuï per mitjans automatitzats.
      </li>
    </ul>

    <p>
      L’informem del seu dret a presentar una reclamació davant l’autoritat de
      control (AEPD <a
        href="http://www.agpd.es/"
        target="_blank"
        rel="noreferrer noopener">www.agpd.es</a
      > - APDCAT <a
        href="http://www.apd.cat/"
        target="_blank"
        rel="noreferrer noopener">www.apd.cat</a
      >) en el cas que no hagi vist satisfet l’exercici dels seus drets aquí
      indicats.
    </p>

    <p>
      Per exercir els citats drets, pot posar-se en contacte amb el delegat de
      protecció de dades a través de correu <a
        href="mailto:info@sitgesgi.cat"
        rel="noreferrer">info@sitgesgi.cat</a
      >, identificant a la seva petició la següent informació:
    </p>

    <ol>
      <li>Dades de la persona sol·licitant (nom i cognoms)</li>
      <li>Número DNI</li>
      <li>Adreça de contacte</li>
      <li>Dret que vol exercir</li>
      <li>Sobre quines dades concretes formula la seva petició</li>
    </ol>

    <p>
      En el termini màxim d’un mes resoldrem la seva petició a través del mateix
      mitjà que hagi utilitzat inicialment.
    </p>

    <h4>SEGURETAT EN EL TRACTAMENT</h4>

    <p>
      Tenint en compte l’estat de la tècnica, els costos d’aplicació, i la
      naturalesa, l’abast, el context i les finalitats del tractament, així com
      els riscos de probabilitat i gravetat variables per als drets i llibertats
      de les persones físiques, el Partit aplicarà mesures tècniques i
      organitzatives apropiades per garantir un nivell de seguretat adequat al
      risc, que evitin la destrucció, pèrdua o alteració accidental o il·lícita
      de dades personals transmeses, conservades o tractades d’una altra forma,
      o la comunicació o accés no autoritzats a aquestes dades.
    </p>
  </section>
</Main>

<style>
  section {
    max-width: var(--media-lg);
    gap: 2em;
    padding: 4em 1em;

    @media (max-width: 720px) {
      padding: 2em;
    }
  }
  
  h1 {
    border-left: 6px solid var(--accent) !important;
    padding: 2rem;
    
    @media (max-width: 720px) {
      padding: 1rem;
    }
  }

  ol > li {
    list-style: decimal;
    padding-bottom: 1em;
    margin-left: 1em;
  }

  ul > li {
    list-style: disc;
    padding-bottom: 1em;
    margin-left: 1em;
  }

  li {
    &::marker {
      color: var(--accent);
      font-weight: bold;
    }

    & li {
      padding: 0.5em 0;
    }
  }
</style>
