---
import Main from "@src/layouts/Main.astro";
---

<Main>
  <section class="col wfull">
    <h1>Programa electoral</h1>
    <a
      href="https://sitgesgi.cat/wp-content/uploads/2019/05/Programa-Sitges-GI-CATAL%C3%80.pdf"
      >Catala</a
    >
    <a
      href="https://sitgesgi.cat/wp-content/uploads/2019/05/Programa-Sitges-GI-CATAL%C3%80.pdf"
      >Castella</a
    >
    <a
      href="https://sitgesgi.cat/wp-content/uploads/2019/05/Programa-Sitges-GI-CATAL%C3%80.pdf"
      >Angles</a
    >
  </section>
</Main>

<style>
  section {
    max-width: var(--media-lg);
    gap: 2em;
    padding: 4em 1em;

    @media (max-width: 720px) {
      padding: 2em 1em;
    }
  }
</style>
