---
import Main from "@src/layouts/Main.astro";

const currentYear = new Date().getFullYear();
---

<Main>
  <section class="col fcenter full">
    <h1>Programa electoral {currentYear}</h1>
    <p>Pròximament</p>
  </section>
</Main>

<style>
  section {
    max-width: var(--media-lg);
    gap: 2em;
    padding: 4em 1em;

    @media (max-width: 720px) {
      padding: 2em;
    }
  }

  h1,
  p {
    text-align: center;
  }
</style>
