---
const today = new Date();
---

<footer class="col acenter wfull">
  <img src="/logo-white.svg" alt="Sitges Grup Independent" />
  <p>
    Direcció: Carrer Sant Bonaventura 20, 08870 Sitges Correu electrónic: <a
      href="mailto:info@sitgesgi.cat">info@sitgesgi.cat</a
    >
  </p>

  <p>
    <a href="https://www.facebook.com/SITGESgi" target="_blank">Facebook</a>
    <a href="https://twitter.com/sitgesgi" target="_blank">Twitter</a>
    <a href="https://www.instagram.com/sitges_gi/" target="_blank">Instagram</a>
    <a href="https://t.me/sitgesgi" target="_blank">Telegram</a>
  </p>

  <p>
		<a href="/politica-de-privacitat">Politica de privacitat</a>
		<a href="/politica-de-cookies">Politica de cookies</a>
	</p>

  <small>© 2023 SITGES GI</small>
</footer>

<style>
  footer {
    background-color: var(--accent);
    padding: 4em;
  }
</style>
