<header class="row fcenter wfull">
  <h1><b>Amb tu, seguim creant futur</b></h1>
  <img src="/david.png" alt="David" />
</header>

<style>
  header {
    height: 60%;
    background-color: skyblue;
    padding: 0 4em;
  }
</style>
