---
import { getCollection } from "astro:content";

const covers = await getCollection("cover");
const { data } = covers[0];
const { title, description, coverImage } = data;
---

<header
  class="col fcenter wfull"
  style={`background-image: url(${coverImage})`}
>
  <h1><b>{title}</b></h1>
  <p>{description}</p>
</header>

<style>
  header {
    background-color: var(--accent-900);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    padding: 200px 4em;

    & h1,
    & p {
      max-width: 700px;
      color: var(--base);
      text-align: center;
    }
  }
</style>
