---
const { highlight } = Astro.props;
const { data } = highlight;
const { title, link } = data;
---

<article class="col acenter">
  <a class="row acenter full" href={link}>
    <span class="row"></span>
    <h3>{title}</h3>
  </a>
</article>

<style>
  article {
    width: calc(100% / 3 - 1em);
    background-color: var(--base);
    border: 1px solid var(--base-100);
    border-radius: 0.25em;
    box-shadow: 0 5px 20px hsl(var(--base-500-hsl), 0.4);
    overflow: hidden;

    @media (max-width: 720px) {
      width: 100%;
    }

    & span {
      width: 80px;
      min-width: 80px;
      aspect-ratio: 1;
      background-color: var(--accent-100);
      clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);

      @media (max-width: 720px) {
        width: 50px;
        min-width: 60px;
      }
    }

    & h3 {
      font-size: var(--font-md);
      padding: 0 1em;
    }
  }
</style>
